<!DOCTYPE html>
<html>
  <head>
    <title>Facebook Profile Info</title>
  </head>
  <body>
    <h1>Facebook Profile Info</h1>
    <ul>
      <li><strong>Name:</strong> {{ name }}</li>
      <li><strong>Email:</strong> {{ email }}</li>
      <li><strong>Birthday:</strong> {{ birthday }}</li>
      <li><strong>Gender:</strong> {{ gender }}</li>
      <li><strong>Hometown:</strong> {{ hometown }}</li>
      <li><strong>Inspirational People:</strong> {{ ip }}</li>
      <li><strong>Location:</strong> {{ location }}</li>
      <li><strong>Quotes:</strong> {{ quotes }}</li>
      <li><strong>Posts:</strong> {{ posts }}</li>
    </ul>
  </body>
</html>
